$gap: 0.5em;
$gap_half: 0.25em;

.grid {
  padding: $gap;
  grid-gap: $gap_half;
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
}

.button {
  grid-column: 1 / 4;
  padding: $gap;
}

.row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / 4;
}

.rowHeader {
  font-weight: bold;
}

.field {
  padding: $gap;
  border: none;
  outline: none;
  background-color: #EEE;
  border-radius: $gap_half;
}

.unsaved {
  background-color: #FAA;
}