$gap: 1em;
$gap_half: 0.5em;

.grid {
  padding: $gap_half;
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
}

.button {
  grid-column: 1 / 4;
  padding: $gap;
}

.row {
  display: grid;
  grid-gap: $gap;
  grid-template-columns: subgrid;
  grid-column: 1 / 4;
}

.rowHeader {
  font-weight: bold;
}

.unsaved {
  background-color: #FAA;
}